<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsUsageDescription</key>
	<string>This app displays events from Calendars. Please allow access.</string>
	<key>NSLocationUsageDescription</key>
	<string>This app uses your approximate location to display accurate sunrise and sunset information. Please allow access.</string>
</dict>
</plist>
